BOT_TOKEN = "123:Abc"

# Sudo Users
ADMINS = "123 456 789 123"

# Database Channel ID
CHANNEL_DB = -100xxx

# MongoDB 
DATABASE_URL = "mongodb+srv://xxx"
DATABASE_NAME = "Example-1"

FORCE_SUB_1 = -100xx
# FORCE_SUB_2 ; FORCE_SUB_3 More...